__pycache__
.code-workspace
capstone_T54_gui.code-workspace
.venv
*.pt
*.env

# Site Testing Files

local_server.py
site_recommendations.md
ngrok.exe
ngrok.zip
ngrok_tunnel.py
cloudflared-windows-amd64.exe
image-compressor.js
webp-implementation.html
package.json
README-image-optimization.md
